h3 { 
    color: #3cff2d
}

h4 {
    color: white;
}

strong {
  color: #3cff2d;
}

h3 {
  font-family: cursive;
  text-transform: capitalize;
}

body {
    background-image: url("/images/check3.jpg");
    background-size: 100% 50%;
    background-repeat: repeat-y;
}

#images {
    width: 400px;
    height: 1000px
}

nav {
    font-weight: bold;
    float: right;
    font-size: 30px;
    list-style-type: none;
    border: dashed 2px White;
}

li::marker {
    color: white;
}

#ql {
  color: white;
  font-weight: bold;
  text-transform: capitalize;
  list-style-type: none;
}

p {
  color: white;
  font-size: 20px;
  height: 80px;
  width: 1500px;
}

footer {
  font-weight: bold;
}

table {
  background-color: black;
  color: white;
  font-weight: bold;
  width: 75%;
  border: 2px solid red;
  text-align: center;
}

th {
  font-family: cursive;
  text-transform: capitalize;
}

th, td {
  border: 2px solid #3cff2d;
}

a {
  color: #ffa10d;
  font-weight: bold;
}

#top {
  text-align: center;
}

h1, h2 {
  color: White;
}