h3 { 
    color: #3cff2d
}

strong {
  color: #3cff2d;
}

h3 {
  font-family: cursive;
  text-transform: capitalize;
}

body {
    background: linear-gradient(blue, black);
}

#bgi {
    background-image: url("/images/check.jpg");
    background-repeat: no-repeat;
    background-position: right;
    background-size: 100% 100%;
    padding: 0px;
}

nav {
  font-weight: bold;
  float: right;
}

#ql {
  color: white;
  font-weight: bold;
  text-transform: capitalize;
  list-style-type: none;
}

p {
  color: white;
  font-size: 20px;
}

footer {
  font-weight: bold;
}

table {
  background-color: black;
  color: white;
  font-weight: bold;
  width: 100%;
  border: 2px solid red;
  text-align: center;
}

th {
  font-family: cursive;
  text-transform: capitalize;
}

th, td {
  border: 2px solid #3cff2d;
}

a {
  color: #ffa10d;
  font-weight: bold;
}

#top {
  text-align: center;
}

h1, h2 {
  color: White;
}