p { 
    color: #3cff2d
}

h3 {
  font-family: cursive;
}

body {
  background: linear-gradient( black, darkblue);
}

table {
  background-color: red;
}

td {
  color: aqua;
}

nav {
  font-weight: bold;
}

* {
  color: white;
}

footer {
  font-weight: bold;
}
